.signup_address
  = render 'signup/shared/signup_header'
.address-container
  .address-container__header
    会員情報入力
  .address-form
    .address-form__box
      = form_with model: @user, url: signup_index_path, method: :post, html: {class: 'address--input'}, local: true do |f|

        = hidden_field_tag :current_step, 'address'
        = f.fields_for :address do |a|

          .address-form__box__name
            %label{class:'box-group--label', for: 'name'} お名前
            %span.input-require
              必須
            = a.text_field :last_name, class: 'lastname--input', placeholder: "例) 山田"
            = @user.errors.full_messages_for(:last_name).first 

            = a.text_field :first_name, class: 'firstname--input', placeholder: "例) 彩"
            = @user.errors.full_messages_for(:first_name).first 

          .address-form__box__name-kana
            %label{class:'box-group--label', for: 'name-kana'} お名前カナ
            %span.input-require
              必須
            = a.text_field :last_name_kana, class: 'lastname-kana--input', placeholder: "例) ヤマダ"
            = @user.errors.full_messages_for(:last_name_kana).first 

            = a.text_field :first_name_kana, class: 'firstname-kana--input', placeholder: "例) アヤ"
            = @user.errors.full_messages_for(:first_name_kana).first 
          
          .address-form__box__pastal-code
            %label{class:'box-group--label', for: 'pastal-code'} 郵便番号
            %span.input-require
              必須
            = a.text_field :postal_code, class: 'pastal-code--input', placeholder: "例) 123-4567"
            = @user.errors.full_messages_for(:postal_code).first 

          .address-form__box__region
            %label{class:'box-group--label', for: 'region'} 都道府県
            %span.input-require
              必須
            = a.text_field :region, class: 'region--input', placeholder: "例) 北海道"
            = @user.errors.full_messages_for(:region).first 

          .address-form__box__city
            %label{class:'box-group--label', for: 'city'} 市区町村
            %span.input-require
              必須
            = a.text_field :city, class: 'city--input', placeholder: "例)横浜市緑区"
            = @user.errors.full_messages_for(:city).first 
          
          .address-form__box__street
            %label{class:'box-group--label', for: 'street'} 番地
            %span.input-require
              必須
            = a.text_field :street, class: 'street--input', placeholder: "例)青山1-1-1"
            = @user.errors.full_messages_for(:street).first 

          .address-form__box__building
            %label{class:'box-group--label', for: 'building'} 建物名
            %span.input-require
              任意
            = a.text_field :building, class: 'street--input', placeholder: "例)柳ビル103"
            = @user.errors.full_messages_for(:building).first 

          .address-form__box__phone-number
            %label{class:'box-group--label', for: 'phone-number'} 電話
            %span.input-require
              任意
            = a.text_field :phone_number, class: 'phone-number--input', placeholder: "例)090-12345678"
            = @user.errors.full_messages_for(:phone_number).first 

            = f.submit '次へ進む', class: 'submit-btn'
= render 'signup/shared/signup_footer'
