%p
  発送元・お届け先住所入力

= form_with model: @user, url: signup_index_path, method: :post, html: {class: 'third-main__box'}, local: true do |f|
  お名前
  %br
  = hidden_field_tag :current_step, 'step3'
  = f.fields_for :address do |a|

    = a.text_field :last_name, placeholder: "例) 山田"
    = @user.errors.full_messages_for(:last_name).first 

    = a.text_field :first_name, placeholder: "例) 彩"
    = @user.errors.full_messages_for(:first_name).first 

    = a.text_field :last_name_kana, placeholder: "例) ヤマダ"
    = @user.errors.full_messages_for(:last_name_kana).first 

    = a.text_field :first_name_kana, placeholder: "例) アヤ"
    = @user.errors.full_messages_for(:first_name_kana).first 

    = a.label :postal_code, "郵便番号"
    = a.text_field :postal_code
    = @user.errors.full_messages_for(:postal_code).first 

    = a.label :region, "都道府県"
    = a.text_field :region
    = @user.errors.full_messages_for(:region).first 

    = a.label :city, "市区町村"
    = a.text_field :city
    = @user.errors.full_messages_for(:city).first 

    = a.label :street, "番地"
    = a.text_field :street
    = @user.errors.full_messages_for(:street).first 

    = a.label :building, "建物名"
    = a.text_field :building
    = @user.errors.full_messages_for(:building).first 

    = a.label :phone_number, "電話番号"
    = a.text_field :phone_number
    = @user.errors.full_messages_for(:phone_number).first 

    = f.submit '次へ進む', class: 'submit-btn'
