-# = render 'ヘッダー'
-# = render 'メルカリのicon'

.mypage-header
  メルカリ   >   マイページ

.mypage-area
  .mypage__content
    .mypage--left
      = render 'side-bar'
    .mypage--right
      .mypage--right__main
        .mypage--right--upper
          .mypage__user-icon
            = image_tag 'user_default.png', class: 'user-icon'
            .mypage__user-name
              テストユーザー
              -# = current_user.nickname
            .mypage__user-status
              評価  
              %span 0
              出品数
              %span 0
        .mypage__tab-container
          .mypage_tab-container_tab
            .mypage_tab-container_tab--left
              お知らせ
            .mypage_tab-container_tab--right
              やることリスト
          .mypage_tab-container_info
            = link_to 'root_path', class:'info-link'  do
              .info-box
                .info-icon
                  = image_tag 'mercari_info_icon.png', class: 'mercari_info_icon'
                .info-box-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-date
                    ○22時間前
            = link_to 'root_path', class:'info-link'  do
              .info-box
                .info-icon
                  = image_tag 'mercari_info_icon.png', class: 'mercari_info_icon'
                .info-box-right
                  .info-message
                    事務局から個別メッセージ「ログイン通知」
                  .info-date
                    ○22時間前
          .mypage_tab-container_lower
            = link_to 'root_rath', class:'info-index-btn' do
              .info-index-btn 一覧を見る
        .mypage__purchased-product
          .mypage_purchased-product_title
            購入した商品
          .mypage_purchased-product_tab-container
            .mypage_tab-container_tab
              .mypage_tab-container_tab--left
                取引中
              .mypage_tab-container_tab--right
                過去の取引
            .mypage_purchased-product_tab-container__content
              .mypage_purchased-product_tab-container_content_text
                = image_tag 'https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?39195692', class: 'mercari_info_icon'
                %br
                取引中の商品がありません
-# = render 'footer'
